<h3>Full video List</h3>
<div class="grid grid-pad">
  <div *ngFor="let video of videos" (click)="gotoDetail(video)" class="col-1-4">
    <div class="module video">
      <h4>{{video.tag}}</h4>
      <b>--</b>
    </div>
  </div>
  <div class="col-1-4">
    <video-search></video-search>
  </div>
</div>

