<div *ngIf="video">
  <h2>{{video.name}} Details!</h2>

  <div>
    <h3>Input tag that allows max 3 tags</h3>
    <tag-input [(ngModel)]="video.tag"
               [maxItems]="3"
               placeholder="Insert a new item">

    </tag-input>
  </div>
  <table style="width:100%">
    <tr>
      <th>
        <div>

          <label>name: </label>
          <input type="text" [(ngModel)]="video.name" placeholder="name" required/>
        </div>

        <div>
          <label>url: </label>
          <input [(ngModel)]="video.url" placeholder="url" readonly/>
        </div>

        <div>
          <label>start: </label>
          <input [(ngModel)]="video.start" placeholder="Start" required/>
        </div>

        <div>
          <label>end: </label>
          <input [(ngModel)]="video.end" placeholder="End" required/>
        </div>
      </th>
      <th>
        <video id="frag1" controls preload="metadata" width="410px" height="410px">
          <source src = "{{video.url}}#t={{video.start}},{{video.end}}">
        </video>
      </th>
    </tr>
  </table>



  <button (click)="goBack()">Back</button>
  <button  (click)="save()">Save</button>
</div>
