<div id="search-component">
  <h4>Video Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let video of videos | async"
         (click)="gotoDetail(video)" class="search-result" >
      {{video.name}}
    </div>
  </div>
</div>
