
<div class="grid grid-pad">
  <h2>My Video Clips</h2>
  <div class="col-1-4">
    <video-search></video-search>
  </div>
  <div class="col-1-4">
    <ul class="videos">
      <li *ngFor="let video of videos" (click)="onSelect(video)" [class.selected]="video === selectedVideo">
    <span class="video-element">
      <span class="badge">{{video.id}}</span> {{video.name}}
    </span>
        <button *ngIf="video.id != 0" class="delete-button" (click)="deleteVideo(video, $event)">
          delete<i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>

</div>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addVideo()">Add New Clip</button>
<div *ngIf="addingVideo">
  <my-video-detail (close)="close($event)"></my-video-detail>
</div>

<div *ngIf="selectedVideo">
  <h2>
    {{selectedVideo.name | uppercase}} Actual clip
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

